body {
	font-family: sans-serif;
	color: #555;

}

.header
{
	position: relative;
	margin: 0 auto;
	padding: 1em 1em;
	text-align: center;
	font-size: 24px;
  	font-weight: 700;
  	color: #555
}

.sub-header
{
	text-align: center;
	font-size: 13px;
  	font-weight: 200;
  	color: #666
}

.container
{
	position: relative;
	margin: 0 auto;
	padding: 1em 1em 2em;
	top: 0;
	left: 0;
	text-align: center;

}

.button-rec {
 
  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
  background-image: -webkit-radial-gradient(60% 20%, circle, #FF6023 0%, #DA305D);
  background-image: radial-gradient(  circle at 60% 20%, #FF6023 0%, #DA305D);
  border: none;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 80px;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 80px;
  padding: 0; }
  .button-rec:focus, .button-rec:hover {
  	-webkit-transform: scale(0.93);
	 -moz-transform: scale(0.93);
	   -ms-transform: scale(0.93);
	   transform: scale(0.93);
  	-webkit-transition: all 0.45s ease-out;
  	-moz-transition: all 0.45s ease-out;
  	transition: all 0.45s ease-out;
  	background-image: -webkit-radial-gradient(60% 20%, circle, #FF6023 0%, #DA305D);
  	background-image: radial-gradient(  circle at 60% 20%, #FF6023 0%, #DA305D);
    color: #FFF;
   	line-height: 80px;
  	font-weight: 700;
    border: none;
    text-decoration: none;
     }
  
  .button-rec:after {
      border: none;
    text-decoration: none;
    	-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
    }

   

.button-1 {
  position: relative;
  background: #F1F3F4 ;
  border-radius: 40px;
  z-index: 0;
  width: 180px;
  height: 50px;
  border: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #333; }
  .button-1:hover {
    background: #7269C2;
    color: #fff; }

  .button-1:focus {
    background: #7269C2;
    color: #fff; }
      
  .button-1:hover .button__bg {
     }
  .button-1 .button__bg {
    transform: translateZ(0);
    background: #222;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: background 0.1s ease-out;
    -moz-transition: background 0.1s ease-out;
    transition: background 0.1s ease-out;
    border-radius: 40px; }

.reclist a:link {
  border-radius: 40px;
  z-index: 0;
  width: 180px;
  height: 50px;
  border: none;
  font-size: 18px;
  /*font-weight: 700;*/
  text-decoration: none;
  color: #444;
}

.reclist a:hover {
  color: #7269C2;
}